body {
  background-color: #FFC8C8;
}

h1, h3 {
  color: #444F5A;
  font-family: cursive;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
